# FastAPI e servidor
fastapi==0.109.2
uvicorn[standard]==0.27.1
gunicorn==21.2.0

# Banco de datos
sqlalchemy==2.0.25
alembic==1.13.1
psycopg2-binary==2.9.9

# validação e configurações
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.0

# Testes
pytest==7.4.4
pytest-cov==4.1.0
pytest-asyncio==0.23.3
httpx==0.26.0

# Qualidade de código e Observabilidade
ruff==0.2.1
structlog==24.1.0
slowapi==0.1.9
mypy==1.8.0

bandit==1.7.6